header { 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header_container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_link > a {
    display:  inline-block;
    margin-right: 10px;
    padding: 20px 35px;
    transition: all ease .4s;
    border-radius: 50px;

    font-weight: 500;
    font-size: 25px;

    color: rgba(0, 0, 0, 1);
}

.header_link > a:hover {
    background-color: rgba(49, 38, 38, 1);
    color: #fff;
}

.header_basket {
    margin-left: 20px;
    cursor: pointer;
}
